.u-section-1-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-1-1 .u-image-1 {
  min-height: 600px;
  pointer-events: auto;
  background-image: url("images/pexels-photo-1536314.jpeg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1-1 .u-layout-cell-2 {
  min-height: 600px;
  pointer-events: auto;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 300;
  margin: -30px -60px 0;
}

.u-section-1-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 495px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-image-1 {
    min-height: 379px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 569px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 1.5;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 358px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-1-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-1-2 .u-image-1 {
  min-height: 600px;
  pointer-events: auto;
  background-image: url("images/pexels-photo-1536314.jpeg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1-2 .u-layout-cell-2 {
  min-height: 600px;
  pointer-events: auto;
}

.u-section-1-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 300;
  margin: -30px -60px 0;
}

.u-section-1-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 495px;
  }

  .u-section-1-2 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-image-1 {
    min-height: 379px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 569px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 1.5;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 358px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-block-7180-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-7180-3 {
  position: absolute;
  left: 0;
  width: 45px;
  height: 45px;
}

.u-block-7180-4 {
  position: absolute;
  right: 0;
  width: 45px;
  height: 45px;
}.u-section-2 .u-sheet-1 {
  min-height: 812px;
}

.u-section-2 .u-line-1 {
  position: relative;
  height: 126px;
  transform-origin: center bottom 0px;
  margin: 33px 1139px 0 0;
}

.u-section-2 .u-line-2 {
  position: relative;
  height: 148px;
  transform-origin: center top 0;
  transform: rotate(359.995deg);
  margin: 499px -1px 0 1140px;
}

.u-section-2 .u-shape-1 {
  height: 495px;
  width: 806px;
  margin: -643px 0 0 334px;
}

.u-section-2 .u-group-1 {
  min-height: 494px;
  margin: -498px 477px 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-2 .u-text-1 {
  margin: 50px 0 0 20px;
}

.u-section-2 .u-text-2 {
  font-weight: 800;
  margin: 20px 1px 0 19px;
}

.u-section-2 .u-line-3 {
  position: relative;
  width: 94px;
  transform-origin: left center 0;
  margin: 28px auto 0 20px;
}

.u-section-2 .u-text-3 {
  margin: -1px 38px 50px 127px;
}

.u-section-2 .u-image-1 {
  width: 451px;
  height: 496px;
  margin: -492px -1px 80px 690px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-2 .u-line-1 {
    margin-right: 939px;
  }

  .u-section-2 .u-line-2 {
    margin-left: 940px;
  }

  .u-section-2 .u-shape-1 {
    position: relative;
    width: 665px;
    margin-left: 275px;
  }

  .u-section-2 .u-group-1 {
    position: relative;
    width: 465px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 113px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    font-weight: 700;
  }

  .u-section-2 .u-line-3 {
    width: 77px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 0;
    margin-left: 105px;
  }

  .u-section-2 .u-image-1 {
    position: relative;
    width: 412px;
    margin-right: auto;
    margin-left: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-2 .u-line-1 {
    margin-right: 719px;
  }

  .u-section-2 .u-line-2 {
    margin-left: 720px;
  }

  .u-section-2 .u-shape-1 {
    width: 509px;
    margin-left: 211px;
  }

  .u-section-2 .u-group-1 {
    width: 382px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 50px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 20px;
  }

  .u-section-2 .u-line-3 {
    width: 59px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-1 {
    width: 346px;
    margin-bottom: 125px;
    margin-left: 375px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 577px;
    margin-right: 540px;
  }

  .u-section-2 .u-line-2 {
    margin-right: 0;
    margin-left: 540px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -1261px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 455px;
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 143px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-2 .u-line-3 {
    width: 55px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 18px;
    margin-bottom: 11px;
    margin-left: 92px;
  }

  .u-section-2 .u-image-1 {
    width: 414px;
    height: 495px;
    margin: -979px 0 557px auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-2 .u-line-1 {
    width: 1px;
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-2 .u-line-2 {
    margin-top: 1047px;
    margin-right: auto;
    margin-left: 340px;
  }

  .u-section-2 .u-shape-1 {
    height: 331px;
    width: 329px;
    margin-top: -1184px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 400px;
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 55px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
  }

  .u-section-2 .u-line-3 {
    width: 47px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 29px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 280px;
    height: 331px;
    margin: -782px auto 46px 61px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 775px;
}

.u-section-3 .u-shape-1 {
  height: 495px;
  width: 806px;
  margin: 140px 334px 0 0;
}

.u-section-3 .u-group-1 {
  min-height: 512px;
  width: 570px;
  margin: -504px auto 0 570px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-3 .u-text-1 {
  margin: 113px 20px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 800;
  margin: 18px 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 27px 20px 50px;
}

.u-section-3 .u-image-1 {
  width: 461px;
  height: 496px;
  object-position: 23.4% 50%;
  margin: -505px auto 0 0;
}

.u-section-3 .u-line-1 {
  position: relative;
  transform-origin: center bottom 0;
  height: 628px;
  margin: -495px 1139px 7px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    position: relative;
    width: 665px;
    margin-right: 275px;
  }

  .u-section-3 .u-group-1 {
    position: relative;
    width: 503px;
    margin-left: 437px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    font-weight: 700;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-right: 16px;
    margin-left: 16px;
  }

  .u-section-3 .u-image-1 {
    position: relative;
    width: 430px;
    object-position: 50% 50%;
  }

  .u-section-3 .u-line-1 {
    width: 1px;
    margin-top: -494px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-3 .u-shape-1 {
    width: 509px;
    margin-top: 9px;
    margin-right: 211px;
  }

  .u-section-3 .u-group-1 {
    min-height: 515px;
    width: 398px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-image-1 {
    width: 315px;
    margin-top: -508px;
  }

  .u-section-3 .u-line-1 {
    margin-top: -495px;
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1098px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 85px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 467px;
    width: 483px;
    margin-top: 11px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 45px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 45px;
  }

  .u-section-3 .u-image-1 {
    width: 446px;
    margin-top: -973px;
  }

  .u-section-3 .u-line-1 {
    transform-origin: center top 0;
    height: 405px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-shape-1 {
    height: 307px;
    margin-top: 88px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    min-height: 442px;
    margin-top: 27px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-image-1 {
    width: 253px;
    height: 307px;
    margin-top: -776px;
    margin-bottom: 554px;
  }

  .u-section-3 .u-line-1 {
    transform-origin: center bottom 0;
    height: 626px;
    margin-top: 209px;
    margin-bottom: 8px;
  }
}