.u-section-1 .u-sheet-1 {
  min-height: 780px;
}

.u-section-1 .u-shape-1 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: 81px 558px 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  margin: -24px 638px 0 156px;
}

.u-section-1 .u-image-1 {
  width: 113px;
  height: 82px;
  margin: -40px auto 0 17px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -102px 604px 0 156px;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  margin: 45px 594px 0 156px;
}

.u-section-1 .u-text-4 {
  margin: -326px 367px 0 608px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 343px 109px 0 750px;
}

.u-section-1 .u-shape-2 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: 28px auto 0;
}

.u-section-1 .u-text-6 {
  text-transform: none;
  margin: -36px 36px 0 762px;
}

.u-section-1 .u-image-2 {
  width: 113px;
  height: 82px;
  margin: -64px 413px 0 auto;
}

.u-section-1 .u-text-7 {
  line-height: 1.8;
  margin: -2px -12px 0 762px;
}

.u-section-1 .u-text-8 {
  margin: -248px 609px 60px 366px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 50px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 98px;
    margin-right: 345px;
    margin-left: 213px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -100px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -54px;
    margin-right: 345px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 77px;
    margin-right: 345px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -459px;
    margin-right: 669px;
    margin-left: 106px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 545px;
    margin-right: 446px;
    margin-left: 213px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -83px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 80px;
    margin-right: 386px;
    margin-left: 213px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -95px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 42px;
    margin-right: 337px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -378px;
    margin-right: 669px;
    margin-left: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 69px;
    margin-right: 160px;
    margin-left: 178px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -62px;
    margin-right: 557px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -91px;
    margin-right: 160px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 62px;
    margin-right: 160px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -419px;
    margin-right: 446px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 503px;
    margin-right: 261px;
    margin-left: 178px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -76px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 71px;
    margin-right: 290px;
    margin-left: 178px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -108px;
    margin-right: 557px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 41px;
    margin-right: 152px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -389px;
    margin-right: 446px;
    margin-left: 109px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 35px;
    margin-left: 44px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 72px;
    margin-right: 34px;
    margin-left: 124px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -65px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -88px;
    margin-right: 34px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 34px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -423px;
    margin-right: 283px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 478px;
    margin-right: 135px;
    margin-left: 124px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -71px;
    margin-left: 44px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 68px;
    margin-right: -84px;
    margin-left: 124px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -47px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -18px;
    margin-right: 26px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-8 {
    margin: -364px 283px 359px 92px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -42px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 150px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -156px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
    margin-right: -50px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -498px;
    margin-right: 110px;
    margin-left: 65px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 689px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -165px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 157px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -194px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 134px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin: -451px -65px 60px 65px;
  }
}