.u-section-1 {
  min-height: 674px;
}

.u-section-1 .u-shape-1 {
  margin-right: auto;
  margin-left: 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: 113px calc(((100% - 1140px) / 2) + 200px) 0 calc(((100% - 1140px) / 2) + 260px);
}

.u-section-1 .u-line-1 {
  width: 808px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 28px calc(((100% - 1140px) / 2) + 136px) 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 300;
  text-transform: uppercase;
  background-image: none;
  margin: 17px calc(((100% - 1140px) / 2) + 200px) 0 calc(((100% - 1140px) / 2) + 260px);
}

.u-section-1 .u-line-2 {
  width: 808px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 17px calc(((100% - 1140px) / 2) + 136px) 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-family: "IBM Plex Mono";
  font-size: 1.125rem;
  margin: 48px calc(((100% - 1140px) / 2) + 136px) 0 calc(((100% - 1140px) / 2) + 196px);
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  margin: 59px auto 60px;
  padding: 8px 35px 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-1 .u-text-1 {
    width: 680px;
    margin-top: 152px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: 39px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 680px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-2 {
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 38px;
    margin-right: calc(((100% - 940px) / 2) + 16px);
    margin-left: calc(((100% - 940px) / 2) + 66px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 154px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    width: 540px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 48px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 164px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 53px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(242,242,242,0.85), rgba(242,242,242,0.85)), url("images/daniel-olah-VS_kFx4yF5g-unsplash1.jpg");
  background-position: 100% 100%;
}

.u-section-2 .u-sheet-1 {
  min-height: 860px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-weight: 400;
  width: 458px;
  text-transform: uppercase;
  margin: 23px auto 0;
}

.u-section-2 .u-line-1 {
  margin-top: 15px;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center 0px;
}

.u-section-2 .u-icon-1 {
  height: 68px;
  width: 68px;
  background-image: none;
  margin: 12px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 560px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 62px auto 0;
}

.u-section-2 .u-image-1 {
  min-height: 560px;
  background-image: url("images/photo_2021-04-18_23-48-13.jpg");
  background-position: 48.9% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-2 .u-text-1 {
    width: 427px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 385px;
  }

  .u-section-2 .u-image-1 {
    min-height: 462px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1073px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 19px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 275px;
  }

  .u-section-2 .u-image-1 {
    min-height: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 693px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 75px;
  }

  .u-section-2 .u-image-1 {
    min-height: 334px;
  }
}